@import "variables";

.App-header {
  @extend .bg-dark;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);

  .title {
    @extend .navbar-brand;
    margin: 6px;
    color: white;
  }

}

.App-Body {
  margin: 30px;
  box-sizing: border-box;
}
